<div id="search_div" class="pure-g-r">
  <div class="pure-u-1-2">
    <%= form_tag search_path, :method => :get do -%>
      <input type="text" name="q" id="search" class="" placeholder="type to search" />
      <%= button_tag "Search", :disable_with => "Please wait...", :class => 'pure-button pure-button-search' %>    
    <% end -%>  
  </div>
  
</div>