/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require bootstrap
 *= require_self
 */

.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
  .badge-inverse { background:#666;}

  .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .brand {width:60px;}
  .badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 6px;
  }
  .badge-error { background:#C43C35; }
  h3 {
    margin:0; padding:0; margin-top:2px; margin-right:10px;
    width:123px; float:left;
    a {
      padding:0; margin:0; margin-top:5px;
      width:130px;
      &:hover { background:none;}
    }
  }
}

.container { width:960px; margin: 0 auto; }
.container-fluid { padding:0; }
.container-fluid > .sidebar {
  position:absolute;
  left:auto;
  right:0;
  top:0;
  width: 240px;
}

.container-fluid > .content {
  margin-left:0;
  margin-right: 260px;
}

.pure-button-search {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60); /* this is a maroon */
}